/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(153, 134, 134);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  min-width: 100%;
  padding: 20px;
  background: rgb(207, 197, 197);
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.search_box {
  display: flex;
  align-items: center;
}
.search_box input {
  padding: 9px;
  margin-left: 700px;
  width: 350px;
  background: rgb(228, 228, 228);
  border-radius: 5px;
  caret-color: rgb(193, 231, 88);
}
.search_box i {
  padding: 0.66rem;
  cursor: pointer;
  color: #fff;
  background: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search_box i:hover {
  color: rgb(224, 209, 121);
}

/* Side menubar section */
aside {
  background: #fff;
  border-radius: 5px;
  height: 510px;
  width: 300px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.side_navbar {
  display: flex;
  flex-direction: column;
}
.side_navbar span {
  color: rgb(153, 134, 134);
  margin: 1rem 2rem;
  font-size: 14px;
}
.side_navbar a {
  width: 300px;
  padding: 0.8rem 2rem;
  font-weight: 600;
  font-size: 16px;
  color: rgb(100, 100, 100);
}
.links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a {
  font-size: 13px;
}
.side_navbar a:hover {
  background: rgb(207, 197, 197);
  border-radius: 0px 20px 20px 0px;
}
.side_navbar .active {
  border-left: 5px solid rgb(100, 100, 100);
  background-color: rgb(207, 197, 197);
  border-radius: 0px 20px 20px 0px;
}

/* Main body */

.main-body {
  min-width: 70%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.promo_card {
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: rgb(37, 37, 37);
}
.promo_card h1,
.promo_card p,
button {
  margin: 10px;
}
.promo_card button {
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.promo_card button .history_lists {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table {
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td,
th {
  padding: 0.2rem 0.8rem;
}
table th {
  font-size: 15px;
}
table td {
  font-size: 13px;
  color: rgb(100, 100, 100);
}
